.suggest {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px 10px;
  border-radius: 20px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(128, 123, 123, 0.5) -3px -3px 6px 1px inset;
}

.content img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.suggest__title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  padding: 10px 0;
  gap: 20px;
  scroll-behavior: smooth;
}
.content__item {
  width: 150px;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  flex: 0 0 auto;
}
.content__item img {
  width: 32px;
  margin: 0;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
.content__description {
  display: flex;
  flex-direction: column;
}
.description__content__title {
  font-weight: bold;
  font-size: 14px;
}
.description__content__subtitle {
  font-size: 12px;
}

.button {
  padding: 7px 12px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  background-color: #4c4c4d;
  transition: background-color 0.3s;
  cursor: pointer;
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #4c4c4d80;
  }
}

@media (max-width: 600px) {
  .content {
    gap: 10px;
    align-items: self-start;
  }

  .content__item {
    width: 120px;
  }

  .suggest {
    padding: 10px 5px;
  }

  .suggest__title {
    font-size: 18px;
  }

  .button {
    padding: 5px 10px;
    font-size: 12px;
  }
}
@media (max-width: 420px) {
  .content {
    justify-content: flex-start;
    align-items: self-start;
  }
}
