.home {
  padding: 10px 15px 10px 0;
  display: flex;
  gap: 50px;
}

@media (max-width: 768px) {
  .home,
  .profile {
    padding-left: 10px;
    gap: 10px;
    width: 100%;
    margin: 0;
  }
  .feed {
    padding-left: 22px;
    width: 100%;
    margin: 0;
  }
  .sidebar {
    width: 200px;
    height: 250px;
    background-color: #3b3a3a;
    color: #fff;
    border-radius: 0 10px 10px 0;
    position: fixed;
    top: 0;
    left: -175px;
    z-index: 9999;
    transition: left 0.3s ease;
  }
  .sidebar.open {
    left: 0;
  }
  .sidebar__menu {
    display: block;
    cursor: pointer;
  }
}
